*{
    margin: 0px;
    padding: 0px;
}

.pocetak{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(168, 156, 156, 0.4)), url(/Projekat/slika1.jpg);
    width: auto;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(196, 114, 82);
}

.tekst{
    font-size: 40px;
    letter-spacing: 30px;
}

.ul{
    position: absolute;
    top: 30px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.ul li{
    display: block;
    width: 200px;
    float: left;
    text-align: center;
    margin: 0px 40px;
}

.ul a{
    font-size: 20px;
    font-weight: bold;
    color:rgb(196, 114, 82);
}

.ul a:hover{
    color: rgb(250, 114, 82);
}

.paragraf{
    position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
